<html>
    <head>
        <title>Access Denied</title>
    </head>
    <body>
        <div>
            <center>
                <h1 style="color: red; margin-top:100px;">Access Denied</h1>
                <h3>Access to /robots.txt is restricted</h3>
            </center>
        </div>
    </body>
</html>
